---
import About from "../components/About.astro";
import Nav from "../components/Nav.astro";
import Slider from "../components/Slider.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Room homepage">
  <Nav />
  <main class="min-h-screen flex flex-col">
    <Slider client:only />
    <About />
  </main>
</Layout>

<style></style>
