<section id="about" class="flex flex-col md:flex-row w-full justify-between h-full flex-grow">
  <img class="bg-slate-800 md:w-[28.89%] object-cover" src="./about-images/about-dark.jpg"/>
  <div class="col-span-5 flex-grow py-16 px-7 flex flex-col items-center justify-center">
    <div class="max-w-[490px] w-full">
      <h2 class="uppercase font-bold md:text-xl tracking-[5px]">About our furniture</h2>
      <p class="text-cc-gray mt-4 text-sm lg:text-base">
        Our multifunctional collection blends design and function to suit your
        individual taste. Make each room unique, or pick a cohesive theme that
        best express your interests and what inspires you. Find the furniture
        pieces you need, from traditional to contemporary styles or anything in
        between. Product specialists are available to help you create your dream
        space.
      </p>
    </div>
  </div>
  <img class="bg-slate-800 md:w-[28.89%] object-cover" src="./about-images/about-light.jpg"/>
</section>
